<section class="footer">
  <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
          <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-white text-decoration-none lh-1" aria-label="Homepage">
                  <svg class="bi" width="30" height="24">
                      <use xlink:href="#bootstrap"></use>
                  </svg>
              </a>
              <span class="mb-3 mb-md-0 text-body-white">© 2024 Chaitanya M. All rights reserved.</span>
          </div>

          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3">
                  <a class="text-body-white" href="https://www.linkedin.com/in/your-profile" aria-label="LinkedIn" target="_blank">
                      <svg class="bi" width="24" height="24">
                          <use xlink:href="#linkedin"></use>
                      </svg>
                  </a>
              </li>
              <li class="ms-3">
                  <a class="text-body-white" href="https://twitter.com/your-profile" aria-label="Twitter" target="_blank">
                      <svg class="bi" width="24" height="24">
                          <use xlink:href="#twitter"></use>
                      </svg>
                  </a>
              </li>
              <li class="ms-3">
                  <a class="text-body-white" href="https://github.com/your-profile" aria-label="GitHub" target="_blank">
                      <svg class="bi" width="24" height="24">
                          <use xlink:href="#github"></use>
                      </svg>
                  </a>
              </li>
          </ul>
      </footer>
  </div>
  
  <svg style="display: none;">
      <symbol id="bootstrap" viewBox="0 0 30 24">
          <!-- Bootstrap logo path here -->
      </symbol>
      <symbol id="linkedin" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M19.638 0h-15.276C2.733 0 0 2.733 0 6.362v11.275C0 21.267 2.733 24 6.362 24h15.276C21.267 24 24 21.267 24 17.637V6.362C24 2.733 21.267 0 19.638 0zm-11.29 19.97h-3.628v-9.922h3.628v9.922zm-1.815-11.331c-1.157 0-2.095-.935-2.095-2.092s.938-2.093 2.095-2.093c1.158 0 2.095.935 2.095 2.093 0 1.157-.937 2.092-2.095 2.092zm13.977 11.331h-3.628v-5.428c0-1.292-.025-2.956-1.803-2.956-1.807 0-2.082 1.406-2.082 2.86v5.524h-3.628v-9.922h3.487v1.352h.049c.486-.92 1.675-1.898 3.44-1.898 3.677 0 4.353 2.429 4.353 5.588v6.979z"></path>
      </symbol>
      <symbol id="twitter" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M23.643 4.937c-.835.37-1.73.617-2.67.726a4.679 4.679 0 0 0 2.042-2.573 9.422 9.422 0 0 1-2.978 1.137A4.677 4.677 0 0 0 16.388 3c-2.575 0-4.667 2.092-4.667 4.667 0 .366.042.723.125 1.067-3.873-.194-7.307-2.054-9.619-4.869a4.669 4.669 0 0 0-.633 2.344c0 1.619.823 3.043 2.07 3.874a4.655 4.655 0 0 1-2.116-.585v.059c0 2.262 1.606 4.147 3.733 4.582-.39.106-.798.163-1.224.163-.298 0-.588-.029-.872-.085.588 1.837 2.287 3.175 4.3 3.212a9.374 9.374 0 0 1-5.786 1.993c-.375 0-.743-.022-1.107-.065a13.187 13.187 0 0 0 7.116 2.086c8.538 0 13.196-7.067 13.196-13.189 0-.201-.005-.404-.014-.606.905-.653 1.689-1.466 2.314-2.4z"></path>
      </symbol>
      <symbol id="github" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.6.11.793-.261.793-.577 0-.288-.011-1.246-.017-2.268-3.338.724-4.043-1.609-4.043-1.609-.546-1.385-1.333-1.756-1.333-1.756-1.089-.743.083-.728.083-.728 1.205.085 1.839 1.236 1.839 1.236 1.069 1.836 2.809 1.304 3.491.997.108-.774.419-1.304.763-1.604-2.666-.304-5.466-1.333-5.466-5.934 0-1.311.47-2.38 1.24-3.222-.124-.304-.537-1.536.117-3.194 0 0 1.007-.322 3.293 1.228.955-.266 1.984-.399 3.005-.404 1.021.005 2.05.138 3.005.404 2.287-1.55 3.293-1.228 3.293-1.228.656 1.658.243 2.89.119 3.194.77.843 1.24 1.911 1.24 3.222 0 4.61-2.805 5.628-5.469 5.934.43.372.814 1.103.814 2.221 0 1.607-.014 2.907-.017 3.302 0 .318.191.694.799.577C20.563 21.8 24 17.302 24 12c0-6.627-5.373-12-12-12z"></path>
      </symbol>
  </svg>
</section>

<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
